{% extends "testApp1/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    .content-section{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .content-section p,.form-group{
        color: white;
        font-size: 20px;
    }

    .send-btn {
        border: 1px solid #ffffff linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
        background : rgb(255, 255, 255);
        padding: 10px 10px;
        font-size: 20px;
        cursor: pointer;
        transition: .4s;
        color: black;
    }

    .send-btn:hover{
        color:white;
        border: 1px solid black linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
        background-color: black;
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    }

</style>

<div class="content-section">
    <h2>Password reset</h2>
    <p>Forgotten your password? Enter your
        email address below, and we'll email 
        you the instructions for setting a new 
        password. 
    </p>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn send-btn" type="submit">Send Email</button>
        </div>
    </form>
</div>
{% endblock content%}