{% extends "testApp1/base.html" %}
{% block content %}

<style>
    .link-sent{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background: #a98787; 
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
        color: white;
        border: none;
        padding: 30px;
    }



</style>

<div class="link-sent">
    <h2>Password reset link sent</h2>

    <p>We've emailed you the instrictions for setting your password, 
        if an account exists with the email you entered. You should receive them shortly. </p>

    <p>If you don't receive an email, please make sure you have entered the email address ypu registered 
        with, and check your spam folder.
    </p>
</div>



{% endblock content%}